Options +FollowSymLinks

<ifmodule mod_rewrite.c>

RewriteEngine On
RewriteBase /

RewriteRule ^meh/(.*)?$ app/assets_media/$1 [L]

RewriteRule ^LOLmeh/(.*)?$ kernel/app/assets_media/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)?$ /LOLindex.php?LOLquery=$1 [L]

</ifmodule>
